#ima ul{
	align-content: center;
	width: 30%;
	height: 10%;
	margin-right: 5%;
	margin-top: 4%;
	float: right;

}

li {
	display:inline;
	padding-right: 10%;
	margin-top: 0%;
	margin-right: 0%;

}

a{
	text-decoration: none;
}
a:hover{
	color: black;
	text-decoration: underline;
}
h1{
	text-align: center;
}
.about{
	margin-left: 10%;
	
}